$primary: #e56c09;

@import "../Bootstrap5/node_modules/bootstrap/scss/bootstrap.scss";

a {
    text-decoration: none;
    cursor: pointer
  }

.nav-link{
    color:black;
    font-weight: 500;
    font-size: larger;
    font-family: sans-serif;
}
